.cell {
    aspect-ratio: 1 / 1;
    height: 70px;
    text-align: center;
    align-content: center;
    margin: 7px;
    font-size: 2rem;
    font-weight: bold;
    border: 7px solid transparent;
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
    background: rgb(41, 41, 41);

    &.default {
        border-color: rgb(115, 115, 115);
    }
    &.correct {
        background-color: rgb(50, 200, 50);
    }
    &.halfCorrect {
        background-color: rgb(192, 180, 55);
    }
    &.incorrect {
        background-color: rgb(82, 82, 82);
    }
}
